In [1]:

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score, f1_score, roc_curve

from pycaret.classification import *
import xgboost as xgb
import pandas as pd
import numpy as np
from tqdm.autonotebook import tqdm
import warnings

Y = target attribute (Y) with values indicating 0 (unhappy) and 1 (happy) customers
X1 = my order was delivered on time
X2 = contents of my order was as I expected
X3 = I ordered everything I wanted to order
X4 = I paid a good price for my order
X5 = I am satisfied with my courier
X6 = the app makes ordering easy for me

In [2]:
df = pd.read_csv('ACME-HappinessSurvey2020.csv', header=0, names=[
                     'happy', 
                     'order_delivered',
                     'order_correct',
                     'menu_complete',
                     'price',
                     'courier',
                     'app'
                 ])

In [3]:
df.dtypes

happy              int64
order_delivered    int64
order_correct      int64
menu_complete      int64
price              int64
courier            int64
app                int64
dtype: object

In [4]:
# from imblearn.over_sampling import SMOTE

# labels = ['order_delivered', 'order_correct', 'menu_complete', 'price',
#        'courier', 'app']


# smote = SMOTE( n_jobs=-1)
# X_sm, y_sm = smote.fit_resample(df[labels], df['happy'])

# df = pd.DataFrame(X_sm, columns=labels)
# df['target'] = y_sm

# df['target'].value_counts().plot(kind='bar', title='Count (target)');

In [5]:
df.shape

(126, 7)

In [6]:
df

     happy  order_delivered  order_correct  menu_complete  price  courier  app
0        0                3              3              3      4        2    4
1        0                3              2              3      5        4    3
2        1                5              3              3      3        3    5
3        0                5              4              3      3        3    5
4        0                5              4              3      3        3    5
..     ...              ...            ...            ...    ...      ...  ...
121      1                5              2              3      4        4    3
122      1                5              2              3      4        2    5
123      1                5              3              3      4        4    5
124      0                4              3              3      4        4    5
125      0                5              3              2      5        5    5

[126 rows x 7 columns]

In [7]:
# df_one = pd.get_dummies(df, columns=labels)
# df_one

In [9]:
from pycaret.classification import ClassificationExperiment
s = ClassificationExperiment()
s.setup(df, target = 'happy')

In [10]:
best = s.compare_models()

In [ ]:
best

In [ ]:
print(best)

In [ ]:
s.evaluate_model(best)

In [ ]:
s.plot_model(best, plot = 'auc')

In [ ]:
s.plot_model(best, plot = 'confusion_matrix')